.c-broadcast-preview {
	margin-block-start: var(--space-lg);
}

.c-broadcast-preview__frame-wrap {
	position: relative;
	aspect-ratio: 16 / 9;
	width: 100%;
	margin-block-start: var(--space-xs);
	background: #000;
}

.c-broadcast-preview__frame {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	border: none;
}